.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  &__logo {
    width: 200px;
    height: 55px;
    background-image: url('./../../assets/img/logo.svg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__score {
    font-size: 18px;
    font-weight: bold;
  }
}
