@import './../../assets/common.scss';

.birds-list {
  background-color: $panel-bg-color;
  flex: 1 1 40%;
  padding: 0;
  margin-right: 20px;
  border: 0 solid $border-color;
  border-width: 0 0 1px 1px;
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  @media (max-width: $md) {
    flex: 1 1 100%;
    margin-right: 0;
  }
}

.birds-list-item {
  list-style-type: none;
  cursor: pointer;
  padding: 10px;
  border: 0 solid $border-color;
  border-width: 1px 1px 0 0;
  &:first-child {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }
  &:last-child {
    border-bottom-right-radius: $border-radius;
  }
}

.birds-list-item__status {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background-color: gray;
  &.true {
    background-color: green;
  }  
  &.false {
    background-color: red;
  }
}

.birds-list-item__name {
  margin-left: 20px;
}
